{% load static %}
<div class="row">
    <div class="col-md-4">
        <img src="{% static "Images/logos/FCTMakerLogo.png" %}">
    </div>
    <div class="col-md-8 mt-5">
        <p>FCTMaker es un sistema gestor de prácticas de FCT <a href="https://github.com/jesusredondo/FCTMaker_Open" target="_blank">opensource</a> para la comunidad de Extremadura.</p>
        <p>Anexos de prácticas. Crea los anexos oficiales de FCT de manera automática tanto para alumnos como para empresas.</p>
        <p>FCTMaker ha sido desarrollado por el Departamento de informática del IES Valle del Jerte de Plasencia.</p>
    </div>
</div>