
{%  comment %}
TODO: OJOOOOOOOOOOOOOOOO
AHORA MISMO NO TIENE SENTIDO, YA QUE NO SE PUEDEN VER ALUMNOS. LO DEJO PARA MODIFICARLO EN UN FUTURO.
INFO QUE DEBE TENER UN ALUMNO:
- Proyectos
- Ciclos
- Empresas
{% endcomment %}

{% extends 'base/base.html' %}

{% load static %}

{% block content%}

    {% if not user.is_superuser %}
        {%  include 'base/needLoginSuperUser.html' %}
    {%  else %}

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/fct/">Alumnos</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ alumno.nombre_alumno }} {{ alumno.apellidos_alumno }}</li>
            </ol>
        </nav>

        <div class="container">

        <div class="row">
            <div class="col-6">
                <h1 class="" >{{ alumno.nombre_alumno }} {{ alumno.apellidos_alumno }}</h1>
                <ul class="listaDetallesAlumno">
                    <li><a href="/fct/alumno/{{ alumno.id }}/anexo2">Generar Anexo 2</a></li>
                    <li><a href="/fct/alumno/{{ alumno.id }}/anexo3">Generar Anexo 3</a></li>
                    <li><a href="/fct/alumno/{{ alumno.id }}/anexo4">Generar Anexo 4</a></li>
                    <li><a href="/fct/alumno/{{ alumno.id }}/anexo5">Generar Anexo 5</a></li>
                    <li><a href="/fct/alumno/{{ alumno.id }}/anexo10B">Generar Anexo 10B</a></li>
                    <li><a href="/fct/alumno/{{ alumno.id }}/completo">Descargar todos los anexos como zip <img style="width:30px;" src="{% static 'Images/Icons/folder_zip.png' %}"></a></li>
                </ul>
                <h3>Anexos de Calidad:</h3>
                <ul class="listaDetallesAlumno">
                    <li><a href="/fct/alumno/{{ alumno.id }}/inf_previo">Informe Previo</a></li>
                    <li><a href="/fct/alumno/{{ alumno.id }}/credencial">Credencial de alumno</a></li>
                </ul>
            </div>
            <div class="col-4 offset-md-1">
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">EMPRESA</div>
                    <div class="card-body">
                        <a href="/fct/empresa/{{ alumno.empresa.id }}">
                            <h5 class="card-title">{{ alumno.empresa.nombre_empresa }}</h5>
                        </a>
                        <p class="card-text">
                            <small><strong>Localidad:</strong> {{ alumno.empresa.localidad_empresa }}</small>
                        </p>
                        <p class="card-text">
                            <small><strong>Teléfono:</strong> {{ alumno.empresa.telefono_empresa }}</small>
                        </p>

                        <div class="card-text row justify-content-md-center">
                            <a class="btn btn-dark col-md-5 margen5" href="/fct/empresa/{{ alumno.empresa.id }}/anexo0">Anexo 0</a>
                            <a class="btn btn-dark col-md-5 margen5" href="/fct/alumno/{{ alumno.id }}/anexo1">Anexo 1</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>

    {%  endif %}
{% endblock %}